@import '../../sass/utils/variables';
@import '../../sass/utils/mixin';
.statWrapp {
  filter: drop-shadow(0px 11px 20px rgba(0, 0, 0, 0.5));

  @include tablet {
    width: 704px;
  }

  @include desktop {
    width: 769px;
  }
  margin: auto;
}
.navWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 769px;
  margin: 0 auto;

  @include tablet_max {
    flex-direction: column-reverse;
    max-width: 343px;
  }

  @include tablet {
    flex-direction: row;
    max-width: 704px;
    align-items: flex-end;
  }

  @include desktop {
    max-width: 769px;
    padding-top: 20px;
  }
}

.navThumb {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.link {
  display: block;
  padding: 20px 19px 18px 20px;
  font-family: 'Lato', sans-serif;
  @include font(600, 16px, 1.19);
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  background-color: rgba(31, 37, 52, 0.4);
  color: $light-gray-tabl;
  box-sizing: border-box;
}

.active {
  display: block;
  padding: 19px 19px 18px 20px;
  font-family: 'Lato', sans-serif;
  @include font(600, 16px, 1.19);
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  border-top: 1px solid $blue;
  box-sizing: border-box;
  background-color: $dark-blue-tabl;
  color: $white;
}

@include tablet_max {
  .calendarWrapper {
    width: 217px;
  }
}

@include tablet {
  .calendarWrapper {
    margin-bottom: 8px;
  }
}
