.backdrop {
  position: absolute;
  top: 71px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 71px);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1200;
}
