@import "../../sass/utils/mixin";

.section{
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    @include tablet-max {
        min-width: 280px;
        max-width: 375px;
    }

    @include tablet {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @include desktop {
        position: relative;
        padding-left: 55px;
        padding-right: 55px;
        width: 1280px;
        gap: 0;
    }
}