@import "../../sass/utils/mixin";

.section{
    padding-left: 15px;
    padding-right: 15px;
    // width: 100vw;
    @include tablet-max {
        min-width: 280px;
        max-width: 375px;
    }

    @include tablet {
        // width: 100vw;
        // max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
        display: flex;
        flex-wrap: wrap;
    }
}