@import '../../../../sass/utils/variables';
@import '../../../../sass/utils/mixin';

.transactionItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 32px;
  color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(243, 243, 243, 0.06);
}

.transactionItem:last-child {
  border-bottom: none;
}

@media screen and (min-width: 375px) {
  .transactionItem {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .transactionItem {
    flex-direction: row;
  }
  .commentWrapper {
    width: 210px;
  }
}
.transactionThumb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid rgba(243, 243, 243, 0.06);
}

@media screen and (min-width: 375px) {
  .transactionThumb {
    padding-left: 16px;
    padding-right: 16px;
    width: 343px;
  }
}

@media screen and (min-width: 768px) {
  .transactionThumb {
    padding-left: 0;
    padding-right: 24px;
    width: 403px;
  }
}

.thumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 343px;
}

@media screen and (min-width: 375px) {
  .thumb {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
  }
}

@media screen and (min-width: 768px) {
  .thumb {
    padding-left: 0;
    padding-right: 0;
  }
}

.commentWrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 375px) {
  .commentWrapper {
    width: 200px;
  }
}

@media screen and (min-width: 768px) {
  .commentWrapper {
    width: 230px;
  }
}

.transactionDate {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  color: rgba(243, 243, 243, 0.3);
}

.transactionComment {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}

.transactionSum {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  line-height: 1.2;
}

@media screen and (min-width: 375px) {
  .transactionSum {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .transactionSum {
    font-size: 20px;
  }
}

.transactionCategory {
  margin-right: auto;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

@media screen and (min-width: 375px) {
  .transactionCategory {
    padding-left: 0;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .transactionCategory {
    padding-left: 24px;
    font-size: 18px;
  }
}

.buttonThumb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 66px;
}

.buttonItem {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.buttonItem > svg {
  width: 22px;
}
