.box {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 48px;
  background: #3a6af5;
  border-radius: 16px;

  @media screen and (max-width: 767px) {
    margin-bottom: 66px;
  }
  
  @media screen and (min-width: 375px) {
    width: 343px;
    height: 388px;
  }

  @media screen and (min-width: 768px) {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 44px 32px;
    width: 672px;
    height: 196px;
  }

  @media screen and (min-width: 1280px) {
    width: 770px;
    height: 156px;
    padding: 24px 66px;
  }
}

.title {
  display: flex;
  padding-bottom: 18px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #f3f3f3;
  cursor: default;

  @media screen and (min-width: 768px) {
    display: inline-block;
    padding-bottom: 14px;
    width: 245px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media screen and (min-width: 768px) {
    margin-right: 18px;
    width: 183px;
    height: 70px;
  }
}

.item:last-child {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
}

.text {
  display: flex;
  align-items: center;
  padding-bottom: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(243, 243, 243, 0.4);
  cursor: default;
}

.res {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 18px;
  padding: 14px 0px 14px 24px;
  gap: 10px;
  width: 100%;
  height: 46px;
  border: 1px solid rgba(243, 243, 243, 0.4);
  border-radius: 28px;
  cursor: default;
}

.buttonFits {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  width: 100%;
  height: 46px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #4770e4;
  background: #f3f3f3;
  border-radius: 60px;
  border: none;
  outline: none;

  @media screen and (min-width: 768px) {
    width: 200px;
  }

  &:hover,
  &:focus {
    color: #242424;
  }
}

.buttonBalance {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 46px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-decoration-line: underline;
  color: #f3f3f3;
  background-color: inherit;
  border-radius: 60px;
  border: none;
  outline: none;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: -20px;
    left: 0;
    width: 200px;
  }

  &:hover,
  &:focus {
    color: #242424;
  }
}
