$dark-blue: #191D28;
$blue: #3A6AF5;
$purple: #6359E9;
$white: #F3F3F3;
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$dark-gray: #242424;
$light-gray: rgba(255, 255, 255, 0.2);
$light-gray-tabl: rgba(255, 255, 255, 0.4);
$dark-blue-tabl: #252C41;

