$dark-blue: #191d28;
$blue: #3a6af5;
$purple: #6359e9;
$white: #f3f3f3;
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$dark-gray: #242424;
$light-gray: rgba(255, 255, 255, 0.2);
$light-gray-tabl: rgba(255, 255, 255, 0.4);
$dark-blue-tabl: #252c41;
$btn-black: #242424;
