.label {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 14px 18px 18px 18px;
  height: 74px;
  background: rgba(37, 44, 65, 0.5);
  border-radius: 16px;

  &:focus-within {
    box-sizing: border-box;
    outline: 1px solid #3a6af5;

    & .span {
      color: #3a6af5;
    }
  }

  @media screen and (min-width: 768px) {
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    width: 370px;
  }
}

.span {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(243, 243, 243, 0.4);
}

.input {
  display: flex;
  padding-top: 4px;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  color: #f3f3f3;
  background: transparent;
  border: none;
  outline: none;

  &:disabled {
    color: rgba(243, 243, 243, 0.4);
  }
}

.error {
  position: absolute;
  left: 25px;
  top: 75px;
  color: red;
}
