@import '../../sass/utils/variables';

.header {
    border-bottom: 1px solid $light-gray;
}

.divContainer {
    display: flex;
    align-items: center;
}

.headerLogo {
    display: flex;
}

.headerLogoEl {
    padding-top: 22px;
}

.logo {
    padding-top: 22px;
    padding-bottom: 22px;
}

.logoHeaderDes {
    padding-top: 25px;
    padding-bottom: 27px;
    margin-left: 8px;
    font-weight: 900;
    font-size: 20px;
    line-height: 1;
    color: $white;
}

.headerNav {
    margin-left: auto;
}

.headerList {
    display: flex;
    gap: 12px;
}

.link {
    padding: 10px 24px;
    font-size: 14px;
    line-height: 1.4;
    border-radius: 60px;
    text-decoration: none;
    color: $dark-gray;
    background-color: $white;
}

.link:hover,
.link:focus,
.active {
    color: $white;
    background-color: $blue;
}
