@import "../../sass/utils/variables";

.header {
    border-bottom: 1px solid $light-gray;
    height: 71px;
}

.headerWrap {
    display: flex;
    align-items: center;
    width: 100%;
}

.headerWrap.isAuth {
    justify-content: space-between;
}

.headerNavWrap {
    @media screen and (max-width: 1279px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    @media screen and (min-width: 1280px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}

.headerNavWrap.isAuth {
    @media screen and (max-width: 1279px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    @media screen and (min-width: 1280px) {
        flex-direction: row-reverse;
    }
}
