.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 18px;

  @media screen and (min-width: 768px) {
    height: 286px;
    gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 370px;
  }
}
