@import "../../../sass/utils/mixin";
@import "../../../sass/utils/variables";

.MobMenuOpen {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 71px;
    left: 0;
    z-index: 10;
    width: 100%;
    height: calc(100vh - 71px);
    background-color: $dark-blue;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        background-image: url(../../../assets/images/vector-tablet.png);
        @include retina {
            background-image: url(../../../assets/images/vector-tablet-2x.png);
        }
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
    }
}

.headerList {
    display: flex;

    @media screen and (max-width: 767px) {
        gap: 10px;
    }

    @media screen and (min-width: 768px) {
        gap: 12px;
    }
}

.headerListAuth {
    @media screen and (max-width: 1279px) {
        display: none;
    }

    @media screen and (min-width: 1280px) {
        display: flex;
        gap: 32px;
    }
}

.headerListAuth.MobMenuListOpen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    align-items: center;
}

.headerNavOpen {
    margin-top: 24%;
}

.headerItemAuth {
    text-align: center;
    font-weight: 700;
    line-height: 1.1;

    @media screen and (max-width: 767px) {
        font-size: 18px;
    }

    @media screen and (min-width: 768px) {
        font-size: 24px;
    }
}

.link {
    font-weight: 700;
    text-decoration: none;
    border-radius: 60px;
    color: $dark-gray;
    background-color: $white;
    padding: 8px 18px;
    line-height: 1.16;


    font-size: 10px;

    @media screen and (min-width: 315px) {
        font-size: 12px;
    }

    @media screen and (min-width: 768px) {
        padding: 10px 24px;
        font-size: 14px;
        line-height: 1.4;
    }

    &:hover,
    &:focus {
        color: $white;
        background-color: $blue;
    }
}

.authLink {
    @media screen and (min-width: 1280px) {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.4;
        color: $white;
    }

    &:hover,
    &:focus {
        color: $blue;
    }
}

.authLinkActive {
    color: $blue;
}
