@import "../../../sass/utils/variables";

.headerLogo {
    display: flex;
    align-items: center;
}

.logoHeaderDes {
    margin-left: 8px;
    font-weight: 900;
    line-height: 1;
    color: $white;

    @media screen and (max-width: 767px) {
        padding-top: 26px;
        padding-bottom: 26px;
        font-size: 18px;
    }

    @media screen and (min-width: 768px) {
        padding-top: 25px;
        padding-bottom: 27px;
        font-size: 20px;
    }
}

.headerLogoAuth {
    @media screen and (max-width: 1279px) {
        display: flex;
        align-items: center;
    }

    @media screen and (min-width: 1280px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
