.barContainer{
    margin-bottom: 50px;
    width: 250px;
    height: 420px;
}

@media screen and (max-width: 768px) {
    .barContainer{
        margin-bottom: 50px;
    }
}

.title{
    font-size: 24px;
}
.list{
    list-style: none;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

.listItem{
    position: relative;
    
    &:not(:last-child){
        margin-bottom: 10px;
    }

    &:before{
        content:"";
        height: 14px;
        width: 14px;
        position: absolute;
        // outline: 1px solid red;
        border-radius: 50%;
        // vertical-align:middle;
        transform: translate(-170%, 20%);
    }

    &:nth-child(1):before{
    
        background-color: #6359E9;

    }
    &:nth-child(2):before{
        
        background-color: #3A6AF5;

    }
    &:nth-child(3):before{
        
        background-color: #F3F3F3;

    }
}

.statContainer{
    margin-bottom: 50px;
}

.select{
    margin-bottom: 28px;
    width: 343px;
    height: 62px;
    
    text-align: center;
    
    background-color: #3A6AF5;

    border-radius: 16px;
}

.statList{
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
@media screen and (max-width: 365px) {
    .statList{
        justify-content: center;
    }
}
.statListItem{
    height: 60px;
    width: 163px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border: 1px solid white;
    border-radius: 16px;
    /* text-align: center; */
    
}

.itemTitle{
    margin: 0;
    margin-bottom: 4px;
}

.itemNum{
    margin: 0;
}