@import '../../sass/utils/variables';
@import '../../sass/utils/mixin';
.labelForSelector {
  background-color: rgba(37, 44, 65, 0.5);
  border-radius: 16px;
  &:focus-within {
    outline: 1px solid $blue;
    border-radius: 16px;
    & .labelText {
      color: $blue;
    }
  }
  @include tablet {
    width: 336px;
  }
  @include desktop {
    width: 370px;
    height: 74px;
  }
}
.labelText {
  color: rgba(243, 243, 243, 0.4);
  @include font(400, 12px, 14px);
  padding: 14px 18px 0 18px;
}

.select-container {
  .select {
    &__control {
      border: none;
      box-shadow: none;
      background-color: transparent;
    }
    &__indicator {
      margin-top: -20px;
      margin-right: 20px;
      cursor: pointer !important;
    }
    &__indicator-separator {
      background-color: transparent;
    }
    &__control {
      margin-left: 16px;
    }
    &__single-value {
      color: $white !important;
      margin-top: -3px;
    }
    &__placeholder {
      color: $white !important;
    }
    &__value-container {
      padding: 0;
    }

    &__menu {
      background-color: $white !important;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19),
        0px 6px 6px rgba(0, 0, 0, 0.26);
      border-radius: 16px !important;
    }

    &__option {
      cursor: pointer;
      border-radius: 10px;
      border: none;
      color: $dark-gray !important;
      display: flex;
      align-items: center;
      
      &--is-focused {
        background-color: #7d9dff !important;
        color: $white !important;
      }
      &--is-selected {
        background-color: #7d9dff !important;
        color: $white !important;
      }
      @include font(400, 16px, 16px);
    }
  }
}
